{
	"clientId": "",
	"guildId": "",
	"token": "",
	"logChannelId": "",
	"welcomeChannelId": "",
	"welcomeMessageTitle": "Welcome",
	"welcomeMessage": "$(member) joined us",
	"goodbyeChannelId": "",
	"goodbyeMessageTitle": "Goodbye!",
	"goodbyeMessage": "Farewell $(member)!",
	"autoRole": "",
	"enableAutoRole": "false",
	"readyChannel": "995756429526978622",
	"readyMessage": "Ready!",
	"logChannelCreate": "true",
	"logChannelDelete": "true",
	"logGuildBanAdd": "true",
	"logGuildBanRemove": "true",
	"logGuildRoleCreate": "true",
	"logGuildRoleDelete": "true",
	"logGuildRoleUpdate": "true"
}
